{% extends 'base.html' %}
{% block content %}
{% load i18n %}
<div class="col-md-12">
    <h1>{% trans "Sites"%}</h1>
    {% if sites_list %}
    <ul class="list-group">
        {% for site in sites_list %}
            <li class="list-group-item"><a href="{% url 'siteDetail' site.id %}">{{site.name}}</a></li>
        {% endfor %}
    </ul>
    {% else %}
        <div class="alert alert-info" role="alert">
            {% trans "No data available."%}
        </div>
    {% endif %}
</div>
{% endblock %}